html {
    background-color: rgb(164, 177, 197);

}
body {
    background-color: white;
    margin: 20%;
    text-align: center;
    border-radius: 10%;
    border-style: solid;
}
input {
    background-color: rgb(145, 169, 204);
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(74, 71, 117);
    border-spacing: 1px;
}
div{
    word-spacing: 2px;
    margin: auto;
    line-height: 30px;
}
.box {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10%;
    border-style: dotted;
    border-color: rgb(44, 67, 168);
    background-color: rgb(187, 222, 238);
}
h1{
    background-color: rgb(111, 118, 156);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 2%;
    text-decoration: dashed;
    color: white;
    border-style: solid;
    border-color: black;
}
.sub {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  
  .sub span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sub span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .sub:hover span {
    padding-right: 25px;
  }
  
  .sub:hover span:after {
    opacity: 1;
    right: 0;
  }
